# Core Framework
django==5.1.*
djangorestframework==3.15.*
djangorestframework-simplejwt==5.3.*

# Database & Production
psycopg2-binary==2.9.11
gunicorn==22.0.*

# Real-time (WebSockets)
channels==4.1.*
daphne==4.2.*
channels-redis==4.2.*

# Security
django-cors-headers==4.4.*
django-environ==0.11.*